body {
    background: #4a4391;
    color: #414141;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    font-size: 14px;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
